@import "tailwindcss";
@tailwind utilities;


@layer base {
  body {
    @apply bg-black text-white; /* Sets background to black and text to white for contrast */
  }
}

#tasklist::-webkit-scrollbar {
  display: none;
} 

/* Hide scrollbar for Chrome, Safari and Opera */
#tasklist::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#tasklist {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

